/*
* Application: JavaScript Calculator
* Programmer: Ryan Jones
* Version: 02/13/2017
*/

.inner-button {
  background-color: #F5F5F5;
}

.outer-button {
  background-color: #D4D4D4;
}

.button-style {
  font-size: 30px;
  width: 50px;
}
